.container-main-gallery {
    text-align: center;
    color: rgb(47, 46, 46) ;
    min-height: 100vh;
    max-width: 1300px;
    padding: 0 10%;
    background: rgb(255,255,255);
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 25%, rgba(240,248,255,1) 54%, rgba(240,248,255,1) 100%); */
    
}

.gallery-image-size-class {
    width: 300px;
    height: 300px;
    justify-content: center;
    display: "flex";
    align-content: center,
}
@media screen and (max-width: 1200px) {
    .gallery-img-item {
        width: 50% !important;
        align-items: center;
        text-align: center;
    }   
}

@media screen and (max-width: 600px) {
    .gallery-img-item {
        width: 100% !important;
        align-items: center;
        text-align: center;
    }  
}

