body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  min-height: 100vh; /* Ensures main fills at least the viewport */
  overflow: auto;    /* Handles overflow within main */
}

a, a:visited {
        color: black  ; /* Or your desired color */
        text-decoration: none; /* Optional: Remove underline */
    }
    a:hover{
      color : var(--secondary-color); 
    }
