
.container-main-aboutus{
    color: var(--darkerPrimary-color);
    min-height: 100vh;
    background: rgb(255,255,255);
    max-width: 1300px;
    padding: 0 40px;
}
.header-text{
    padding: 0 20px;
    padding-bottom: 20px;
}

.message-inner-container {
    display: flex;
    gap: 20px;
    background-color: aliceblue;
    color: var(--darkerPrimary-color);
    padding: 20px;
    justify-content: space-between;
}

.message-inner-text{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.message-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-img-item {
    object-fit: contain;
    height: 400px;
}

.address-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.carousel-container-img {
    object-fit: contain;
}
/* Media Queries */

@media only screen and (max-width : 600px) {
    .message-inner-container{
        flex-direction: column-reverse;
        /* width: 100%; */
    }
}